*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: "Montserrat", sans-serif;
}
body {
    background: #eee;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    padding: 0 16px;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer p {
    color: #ccc;
}

/* navbar */
.navbar {
    height: 10vh;
    background: #f5ba13;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-items {
    width: 65vw;
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    margin-left: 2rem;
    
}

.nav-items a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2rem;
    padding: 6px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s all ease-out;
}
  
.nav-items a:hover {
    background: tomato;
}
  
.nav-items a span {
    margin-left: 0.7rem;
    font-size: 1.3rem;
}

/* end navbar*/

.recipe-info {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 200px;
    margin: 16px;
    float: left;
}

.recipe-info h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
}

.recipe-info p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.recipe-info button {
    position: relative;
    float: right;
    margin-left: 10px;
    color: #f5ba13;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
}

.recipe-info img {
    border-radius: 50%;
    max-width: 100%;
    height: 200px;
    object-fit: cover;
}

.recipe-info img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
  
form.create-recipe {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form.create-recipe input {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
}

form.create-recipe button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #f5ba13;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
}
  